*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.pg{
    width: 0%;
    height: 0%;
    border-bottom: 2px solid black;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(yellow, red, blue );
    border-radius: 60px;
}