*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: aqua;
}
.start_btn,
.info_box,
.quiz_box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/*Start Mock Test Button styling*/
.start_btn button{
    font-size: 30px;
    font-weight: 500;
    color: blue;
    padding: 12px 22px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}
.info_box{
    display: none;
    width: 600px;
    height: 290px;
    background: white;
    border-radius: 24px;
}
.info_box .info_title{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 34px;
    font-weight: 750;
}
.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 18px;
}
.info_box .info_list .info span{
    font-weight: 800;
    color: rgb(236, 144, 5);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 55px;
}
.info_box .buttons button{
    margin: 0 10px;
    height: 38px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: #fff;
    background: #007bff;
}
.buttons button.restart:hover{
    background: #020202;
}
.buttons button.quiz{
    color: #007bff;
    border-color: #007bff;
}
.buttons button.quiz:hover{
    background: #020202;
}
.quiz_box{
    width: 500px;
    background: white;
    border-radius: 10px;
}
.quiz_box header{
   position:relative ;
    z-index: 99;
    height: 65px;
    padding: 0 35px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 5px 2px rgb(54, 50, 50);
    margin-bottom: 10px;
}
.quiz_box header .title{
    font-size: 24px;
    font-weight: 650;
}
.quiz_box header .timer{
    font-size: 20px;
    font-weight: 580;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 10px;
    padding: 0 8px;
}
.quiz_box header .timer .timer_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 560;
    background: #94aec9;
    height: 25px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 750;
}
.quiz_box section .option_list{
    padding: 25px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 8px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3sec ease;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;

}
.option_list .option:last-child{
    margin-bottom: 0px;
}
.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}
.option_list .option .icon_tick{
    color: #23903c;
    border-color: #23903c;
    background-color: #d4d4d4;
}