body{
    background-color: cadetblue;
}
.form{
    font-size: 20px;
    width: 400px;
    height: 525px;
    background-color: white;
    text-align: center;
    margin-left: 35%;
    margin-top: 20px;
}
.AD{
    height: 34px;
    font-size: 15px;
    width: 300px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 15px;
    border: color(srgb red green blue);
}
.input{
    height: 16px;
    font-size: 15px;
    width: 300px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 15px;
    border: color(srgb red green blue);
}
.Number{
    text-align: left;
    margin-left: 25px;
    margin-top: 0;
    font-size: 12px;
}
.fname{
    width: 300px;
    height: 20px;
    font-size: 15px;
    margin-right: 0px;
}

.fnam{
    display: flex;
    font-size: 15px;
    margin-left: 40px;
}
.submit{
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: 2px solid black;
    background-color: cadetblue;
    color: white;
    font-size: 15px;
}
.submit:hover{
    background-color: black;
}
.select{
    width: 180px;
    height: 30px;
    margin-left: 0;
    margin-right: 140px;
    padding-left: 0;
}
.fnam h2{
    font-size: 10px;
}