*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pg{
    width: 100%;
    height: 100%;
    border-bottom: 2px soild black;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(red, aqua, blue, black);
    border: radius 40px; ;
}